[Unit]
Description=Lock on suspend
Before=suspend.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
Environment=XSECURELOCK_WANT_FIRST_KEYPRESS=1
ExecStart=/usr/bin/xsecurelock auth_pam_x11 saver_blank
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=suspend.target
